footer.Cover__footer
    .container
        .col-xs-12.col-sm-4
            ul.Cover__footer__Left
                +list('ARE YOU AN ONLINE TEACHER?')
                +list('CODE OF CONDUCT')
                +list('CONTACT US')

        .col-xs-12.col-sm-4
            img(src="./Content/Images/dutongui_black.png" class="img-responsive")

        .col-xs-12.col-sm-4
            h4 Social
                +square_media("fab fa-facebook-f")