doctype html
html(lang='es-MX')
    head 
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        title Dutongui - English Classes
        link(rel="stylesheet" href="./Content/css/bootstrap.css")
        link(rel="stylesheet" href="./Content/Themes/dutongui_fresh/dutongui_fresh.css")
        link(rel="stylesheet" href="./Content/Themes/dutongui_fresh/fonts/fontawesome-free-5.13.1-web/css/all.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@700&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Palanquin:wght@400&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&display=swap")
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    include ./Pug/mixins.pug 
      
    body  
        .container-fluid.Introducing
            .container   
                .row
                    nav
                        .Introducing__Controls
                                button#abre_menu.fa.fa-bars
                        ul.Introducing__Menu
                            li.col-xs-5.Introducing__Menu__Left
                                    p 
                                        a(href="/Usuario/BuscaProfesor") Find a teacher 
                            li.col-xs-2.Introducing__Menu__Center
                                img(src="./Content/Images/top_logo.png")
                            li.col-xs-5.Introducing__Menu__Right
                                ul.Introducing__Menu__Right__Child
                                    li 
                                        p 
                                            a(href="#/" data-toggle="modal" data-target="#myLogin") Log in
                                    li 
                                        p 
                                            a(href="/login" data-toggle="modal" data-target="#mySignUp") Sign up 
            .container
                .row 
                    .col-xs-12.Introducing__LogoMobile
                        img(src="./Content/Images/top_logo.png")
                .row  
                    .col-xs-12.col-sm-6.Introducing__First
                        .Introducing__First__Title                        
                            h1 Learn a new language with private online lessons                           
            
                        p Choose a private tutor and start to learn that language you’ve always wanted once and for all!
                        
                        .Introducing__First__link
                            a GET STARTED TODAY 
                                <i aria-hidden="true" class="fas fa-arrow-down"></i>
                        .Introducing__First__Trust
                            p Check out what our clients say...
                            include ./Pug/trustPilot.html
                    .col-xs-12.col-sm-6.Introducing__video.hidden-xs
                        img(class="img-responsive" src="./Content/Images/lap1.png")
                        +popular_video('./Content/Videos/User_In_Computer.mp4')
            .Introducing__waves
                img(src="./Content/Images/waves.svg")
                             
          
        section.HowDoes   
            .container  
                    .row
                        .col-xs-12.HowDoes__Title
                            h2 How does it work?
                    .row.HowDoes__Steps
                        .col-xs-12.col-sm-7 
                            +popular_video('./Content/Videos/How_Video_1.mp4')
                        .col-xs-12.col-sm-5
                            +card_HowDoes('1. Choose Your Professor',
                                          'Look at the teachers’ profiles and choose the one you like best.')
        
                    .row.HowDoes__Steps
                        .col-xs-12.col-sm-5
                            +card_HowDoes('2. Book A Lesson',
                                          'Look at the teachers’ profiles and choose the one you like best.')
                        .col-xs-12.col-sm-7
                            +popular_video('./Content/Videos/How_Video_2.mp4')

                    .row.HowDoes__Steps
                        .col-xs-12.col-sm-7 
                            +popular_video('./Content/Videos/How_Video_3.mp4')
                        .col-xs-12.col-sm-5
                            +card_HowDoes('3. Start To Learn',
                                          'Get in touch with your teacher and start learning by video call.')



        section.WhyDutongui 
            .container  
                .row
                    .col-xs-12.WhyDutongui__Title 
                        h2 Why Dutongui? 
                .row
                    .col-xs-12.col-sm-6
                        .row 
                            +card_WhyDutongui('PROFESSIONAL TEACHERS',
                                              'We only hire professional teacher so be sure you are taking classes with the best.',
                                              'fas fa-chalkboard-teacher')

                            +card_WhyDutongui('TIME FLEXIBILITY',
                                              'Since they are online private classes, you can take them whenever you want, from wherever you want.',
                                              'far fa-calendar-check')
                            
                            +card_WhyDutongui('STRONG INTERNET CONNECTION',
                                              'All our teachers have a super fast connection, therefore, the video and audio of the class are excellent.',
                                              'fas fa-user-astronaut')
                            
                            +card_WhyDutongui('FAST LEARNING',
                                              '20 hours of private lessons equal one semester in a normal school therefore we guarantee you an extremely fast learning.',
                                              'fas fa-laptop-medical')                                                        
                    .col-xs-12.col-sm-6
                        .WhyDutongui__Box
                            span
                            img(class="img-responsive" src="./Content/Images/why_dutongui.jpg")
                            p Start Your New Adventure Of Speaking A New Language On Dutongui.
                            a(href="#") Find a teacher                                 


        section.WantLearn
            .container
                .col-xs-12.col-sm-6.WantLearn__Title
                    h2 What language do you want to learn?
                .col-xs-12.col-sm-6
                    .row
                        +card_languages('./Content/Images/espanol.jpg')
                        +card_languages('./Content/Images/coreano.jpg')
                        +card_languages('./Content/Images/ingles.jpg')
                        +card_languages('./Content/Images/portugues.jpg')

        section.Today
            .container
                .Today__Title
                    h2 GET STARTED TODAY
                .Today__SubTitle
                    h4 Get your first lesson free!
                .Today__Link
                    a(href="/login" class="sas") Book a free trial
                        img(src="./Content/Images/arrow.svg")


        script(src="http://dutongui.com/Scripts/default/jquery-1.12.4.min.js")
        script(src="http://dutongui.com/Scripts/default/bootstrap.min.js")
        script(src="./Content/JS/dutongui_fresh.js")


        include ./Pug/MyModals.html
        include ./Pug/footer.pug