doctype html 
html(lang='en')
    head
        title Dutongui
        link(rel="stylesheet" href="./Content/css/bootstrap.css")
        link(rel="stylesheet" href="./Content/Themes/dutongui_fresh/general.css")
        link(rel="stylesheet" href="./Content/Themes/dutongui_fresh/fonts/fontawesome-free-5.13.1-web/css/all.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@700&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap")
    include mixins.pug 
    
    body 
        .container-fluid.Introducing
            .container  
                .row
                    ul.Introducing__Menu
                        li.col-xs-5.Introducing__Menu__Left
                                 p Find a teacher 
                        li.col-xs-2.Introducing__Menu__Center
                            img(src="./Content/Images/top_logo.png")
                        li.col-xs-5.Introducing__Menu__Right
                            ul.Introducing__Menu__Right__Child
                                li
                                    p Log in
                                li
                                    p Sign up 

                .row  
                    .col-xs-6.Introducing__First   
                        h1 Learn a new language with private online lessons                           
                        p Choose a private tutor and start to learn that language you’ve always wanted once and for all!
                        .Introducing__First__link
                            a.send_section GET STARTED TODAY 
                                <i aria-hidden="true" class="fas fa-arrow-down"></i>
                                <i class="fab fa-facebook-f"></i>
                    .col-xs-6.Introducing__video
                        img(class="img-responsive" src="./Content/Images/lap1.png")
                        +popular_video('./Content/Videos/ejemplo-hoy.mp4')
            .Introducing__waves
                img(src="./Content/Images/waves.svg")
                            
         
        section.HowDoes
            .container
                    .row
                        .col-xs-12.HowDoes__Title
                            h2 How does it work?
                    .row
                        .col-xs-7 
                            +popular_video('./Content/Videos/ejemplo-2a.mp4')
                        .col-xs-5
                            +card_HowDoes('1. Choose Your Professor','Look at the teachers’ profiles and choose the one you like best.')
        
        section.WhyDutongui 
            .container
                .row
                    .col-xs-12.WhyDutongui__Title
                        h2 Why Dutongui? 
                .row
                    .col-xs-6
                        .row
                            +card_WhyDutongui('PROFESSIONAL TEACHERS','more')
                            +card_WhyDutongui('TIME FLEXIBILITY','more')
                            +card_WhyDutongui('STRONG INTERNET CONNECTION','more')
                            +card_WhyDutongui('FAST LEARNING','more')                                                        
                    .col-xs-6
                        img(class="img-responsive" src="./Content/Images/why_dutongui.jpg")
                        


        section.WantLearn
            .container
                .col-xs-6.WantLearn__Title
                    h2 What language do you want to learn?
                .col-xs-6
                    .row
                        +card_languages('./Content/Images/coreano.jpg')
                        +card_languages('./Content/Images/espanol.jpg')
                        +card_languages('./Content/Images/portugues.jpg')
                        +card_languages('./Content/Images/ingles.jpg')

        section.Today
            .container
                .Today__Title
                    h2 GET STARTED TODAY
                .Today__SubTitle
                    h3 Get your first lesson free!
                .Today__Link
                    a(href="/login" class="sas") Book a free trial

                        

        footer
            .container
                .col-xs-4
                    ul
                        +list('ARE YOU AN ONLINE TEACHER?')
                        +list('CODE OF CONDUCT')
                        +list('CONTACT US')

                .col-xs-4
                        
                .col-xs-4
