
body.no_scroll{
    .Introducing{
        &:before {
            position: fixed;
            z-index: 3;
            opacity: 0.98;
            filter: blur(10px);
            top:0;
            left: 0;
        }
    }
}

.Introducing {
    background-color: transparent;
    background-image: linear-gradient(180deg, #0051D2 0%, #6EC1E4 100%);               
    position: relative;
    margin-bottom: 100px; 
    padding-top: 20px;  
    &:before {
        background-image: url('../../Images/fondo-home-principal.jpg');
        background-repeat: no-repeat;
        background-size: cover;    
        background-position: center;
        opacity: 0.27;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__waves {
        margin-left: -15px;
        margin-right: -15px;
        position: relative;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        overflow: hidden;
        img {
            width: calc(260% + 1.3px);
            height: 120px;
            transform: translateX(-50%) rotateY(180deg);
            left: 50%;
            position: relative;
        }  
    } 
    &__video {
        padding: 60px 33px;
        video {
            width: 352px;
            position: absolute;
            top: 90px;
            right: 118px;
            @include sdesktop {  
                width: 282px;
                top: 85px;
                right: 102px;
            }            
            @include tablets {
                width: 210px;
                top: 78px;
                right: 83px;
            }
        }
    }
    &__Controls {
        @include mobile {
            display: block;
        }
        display: none;
        position: fixed;
        right: 15px;
        top: 15px;
        z-index: 6;
        button { 
            width: 50px;
            height: 50px;
            border: none;
            background: #4a4a4a;
            border-radius: 15px;
            font-size: 30px;
            color: white;
            &:focus{
                outline: none;
            }
        }
    } 
    &__Menu{
        @include mobile {
            transition: all .1s;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            margin-left: 1050px;
            padding-right: 50px;
            padding-top: 130px;
            width: 100%;
            height: 100%;
            z-index: 5;
            background: rgba(136, 191, 225, 0.71);
            li {
                display: block;
                width: 100%;
                a {
                    font-size: 30px;
                }
            }
            &__Left{
                text-align: right;
            }
            &__Center{
                position: absolute;
                top: 0;
                left: 0;
                z-index: 3;
                margin-top: 20px;
                margin-left: -15px;
            }
            &.show { 
                margin-left: 50px;
            }
        }
        list-style-type: none;
        padding: 0;
        margin: 0;
        color: white;
        font-family: 'Montserrat', sans-serif;
        li{
            display: inline-block;
        }
        &__Left {
            padding-top: 10px;
            @include mobile {
                padding-bottom: 30px;
            }
        } 
        &__Center {
            text-align: center;
            img {
                width: 90px;
            }
        }
        &__Right {
            text-align: right;
            padding-top: 10px;
            @include mobile {
                padding-top: 0px;
            }
            &__Child {
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {
                    display: inline-block;
                    padding-left: 50px;
                    @include mobile {
                        padding-bottom: 30px;
                    }
                }
            }
        }
        p {
            margin: 0;
            font-size: 19px;
        }
        a {
            color:white;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__LogoMobile{
        display: none;
        @include mobile {
            display: block;
            text-align: center;
            img {
                display: inline-block;
                width: 140px;
            }
        }
    }
    &__First {
        @include mobile {
            margin-top: 20px;
        }
        margin-top: 90px;
        &__link { 
            text-align: center;
            margin-top: 50px;
            a {
                transition: all .5s; 
                border-radius: 45px;
                font-size: 1.1em;
                text-transform: uppercase;
                background-color: $red; 
                color: white;
                padding: 11.5px 30px;
                border: 2px solid white;
                display: inline-block;
                &:hover {
                    background-color: transparent;
                    text-decoration: none;
                    cursor: pointer;
                    transform: scale(1.1);
                }
                &:focus{
                    text-decoration: none;
                }
                i {
                    padding-left: 5px;
                }
            }
        }
        &__Title {
            margin-bottom: 40px;
            h1 {
                margin:0px;
                color: white;
                font-family: 'Ubuntu', sans-serif;
                font-size: 43px;
            }
        }
        &__Trust {
            margin-top: 60px;
            text-align: center;
            p{
                margin:0px
            }
            img{
                max-width: 100%;
            }
        }
        p {
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: 21px;
        }
    }
}