.HowDoes {
    .card {
        @extend %border-cards;
        border-radius: 25px;
        &__How {
            padding: 20px;
            &__title {
                color: $blue_font;
            }
            &__desc {
                color: gray;
            }
        }
    }
    &__Title {
        color: $blue_font;
    }
    video {
        max-width: 100%;
    }
}