.HowDoes {
    .card {
        @extend %border-cards;
        border-radius: 25px;
        &__How {
            padding: 20px;
            &__title {
                font-family: "Montserrat", Sans-serif;
                color: $blue_font;
                font-style: italic;
                font-weight: bold;
            }
            &__desc {
                font-family: 'Quicksand', sans-serif;
                font-size: 20px;
            }
        }
    }
    &__Title {  
        color: $blue_font;
        font-family: 'Palanquin Dark', sans-serif;
        h2 {
            font-size: 4rem;
            margin: 0;
        }
    }
    video {
        max-width: 100%;
    }
}