
#myLogin {
    .logo_login {
        width: 110px;
        display: inline-block;
    }
    .modal-content {
        background-color: rgba(30, 60, 97, 0.96);
        @include mobile {
            margin-top: 30px;
        }
        margin-top: 130px;
    }
    .modal-footer {
        border-top: none;
        a {
            color: white;
        }
    }
    .modal-header {
        border-bottom: none;
    }
    form {
        padding: 0px 15px;
        button {
        padding: 6px 30px;
        border-radius: 10px;
        background-color: blue;
        border: none;
        color: white;
        font-size: 19px;
        background: linear-gradient(#0862f3, #033486);
        }

        input {
            font-size: 18px;
        }
        
        .form-group {
            margin-bottom: 25px;
        }

    }
    
    @media (min-width: 768px) {
        .modal-dialog {
            width: 370px;
            margin: 30px auto;
        }
    }
}


#mySignUp {
    .logo_login {
        width: 110px;
        display: inline-block;
    }
    .modal-content {
        background-color: rgba(30, 60, 97, 0.96);
        @include mobile {
            margin-top: 30px;
        }
        margin-top: 130px;
    }
    .modal-footer {
        border-top: none;
        a {
            color: white;
        }
    }
    .modal-header {
        border-bottom: none;
    }
    form {
        padding: 0px 15px;
        button {
        padding: 6px 30px;
        border-radius: 10px;
        background-color: blue;
        border: none;
        color: white;
        font-size: 19px;
        background: linear-gradient(#0862f3, #033486);
        }

        input {
            font-size: 18px;
        }
        .form-group {
            margin-bottom: 10px;
        }
        button {
            margin-top: 20px;
        }

    }
    
    @media (min-width: 768px) {
        .modal-dialog {
            width: 370px;
            margin: 30px auto;
        }
    }
}


