.WantLearn{
    .card {
        @extend %border-cards;
        border-radius: 6px;
        &__languages {
            padding: 20px;
            border-bottom: 5px solid $blue_card;
            &:hover {
                border-bottom: 5px solid $green_langs_bb_h;
            }
            &__image {
                img {
                    max-width: 100%;
                }
            }
        }
    }
    &__Title {
        font-family: 'Palanquin Dark', sans-serif;
        color: $blue_font;
        text-align: center;
        border-bottom: 6px solid #52f28a;
        h2 {
            font-size: 4rem;
            line-height: 1.3em;
            letter-spacing: 2px;
        }
    }
}