.WhyDutongui {
    background-color: rgba(242, 242, 242, 0.6784313725490196);
    padding: 3em 1em 4em 1em;
    &__Title {
        font-family: 'Palanquin Dark', sans-serif;
        margin-bottom: 35px;
        h2 {
            color: $blue_font;
            margin: 0px;
            text-align: center;
            font-size: 4.5rem;
        }
    }
    &__Box{
        @include mobile {
            padding: 85px 15px 50px 15px;
        }
        background-color: $blue_card;
        padding: 85px 50px 52px 50px;
        border-radius: 5px;
        position: relative;
        margin-bottom: 14px;
        text-align: center;
        img {
            border-radius: 18px 176px 18px 18px;
        }
        p {
            font-family: "Montserrat", Sans-serif;
            font-size: 1.3em;
            color: white;
            margin: 10px 0px 10px;
        }
        span {
            background-color: $green;
            width: 50px;
            height: 6px;
            position: absolute;
            left: 0px;
            top: 0px;
            margin-top: 65px;
            margin-left: 25px;
        }
        a {
            transition: all .5s;
            background-color: $wine;
            border-radius: 30px 30px 30px 30px;
            box-shadow: -100px 4px 100px -28px rgba(148, 35, 35, 0.99) inset;            
            font-family: "Montserrat", Sans-serif;
            color: white;
            font-weight: bold;
            padding: 15px 30px;
            font-size: 1.05em;
            display: inline-block;
            &:hover {
                text-decoration: none;
                transform: scale(1.1);                
            }
        }
    }
    .card {
        &__Why {
            @include mobile {
                text-align: center;
            }
            @extend %border-cards;
            padding: 20px;
            border-radius: 8px;
            background-color: white; 
            height: 314px;
            margin-bottom: 15px;
            i { 
                color: $blue_card;
                border-color: $blue_card;
                font-size: 38px;
            }
            &__title {
                color: $blue_font;
                margin: 20px 0px;
                font-family: 'Palanquin Dark', sans-serif;   
                letter-spacing: 4px;     
                line-height: 1.2em; 
                position: relative;
                &:after {
                    content: "";
                    width: 22px;
                    height: 6px;
                    background-color: $green;
                    position: absolute;
                    bottom: -14px;
                    left: 0px;
                }  
            }
            &__desc {
                color: #696C7B;
                font-family: 'Palanquin', sans-serif; 
                text-align: justify;
            }
        }
    }
}
