.WhyDutongui .card__Why, .WantLearn .card, .HowDoes .card {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
}

.Introducing {
  background-color: transparent;
  background-image: linear-gradient(180deg, #0051D2 0%, #6EC1E4 100%);
  position: relative;
  margin-bottom: 100px;
  padding-top: 20px;
}
.Introducing:before {
  background-image: url("../../Images/fondo-home-principal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.27;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Introducing__waves {
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  overflow: hidden;
}
.Introducing__waves img {
  width: calc(260% + 1.3px);
  height: 120px;
  transform: translateX(-50%) rotateY(180deg);
  left: 50%;
  position: relative;
}
.Introducing__video {
  padding: 33px;
}
.Introducing__video video {
  width: 352px;
  position: absolute;
  top: 63px;
  right: 118px;
}
.Introducing__Menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.Introducing__Menu li {
  display: inline-block;
}
.Introducing__Menu__Center {
  text-align: center;
}
.Introducing__Menu__Center img {
  width: 90px;
}
.Introducing__Menu__Right {
  text-align: right;
}
.Introducing__Menu__Right__Child {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.Introducing__Menu__Right__Child li {
  display: inline-block;
}
.Introducing__Menu p {
  margin: 0;
  font-size: 19px;
}
.Introducing__First__link {
  text-align: center;
}
.Introducing__First__link a.send_section {
  border-radius: 45px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #CE0008;
  color: white;
  padding: 15px 30px;
  border: 2px solid white;
}
.Introducing__First__link a.send_section:hover {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}
.Introducing__First h1 {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 43px;
}
.Introducing__First p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
}

.HowDoes .card {
  border-radius: 25px;
}
.HowDoes .card__How {
  padding: 20px;
}
.HowDoes .card__How__title {
  font-family: "Montserrat", Sans-serif;
  color: #0762d9;
  font-style: italic;
  font-weight: bold;
}
.HowDoes .card__How__desc {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}
.HowDoes__Title {
  color: #0762d9;
  font-family: "Palanquin Dark", sans-serif;
}
.HowDoes__Title h2 {
  font-size: 4rem;
  margin: 0;
}
.HowDoes video {
  max-width: 100%;
}

.WantLearn .card {
  border-radius: 6px;
}
.WantLearn .card__languages {
  padding: 20px;
  border-bottom: 5px solid #0762d9;
}
.WantLearn .card__languages:hover {
  border-bottom: 5px solid #30d979;
}
.WantLearn .card__languages__image img {
  max-width: 100%;
}
.WantLearn__Title {
  font-family: "Palanquin Dark", sans-serif;
  color: #0762d9;
  text-align: center;
  border-bottom: 6px solid #52f28a;
}
.WantLearn__Title h2 {
  font-size: 4rem;
  line-height: 1.3em;
  letter-spacing: 2px;
}

.WhyDutongui {
  background-color: rgba(242, 242, 242, 0.6784313725);
  padding: 3em 1em 4em 1em;
}
.WhyDutongui__Title {
  font-family: "Palanquin Dark", sans-serif;
  margin-bottom: 35px;
}
.WhyDutongui__Title h2 {
  color: #0762d9;
  margin: 0px;
  text-align: center;
  font-size: 4rem;
}
.WhyDutongui .card__Why {
  padding: 20px;
  border-radius: 15px;
  background-color: white;
}
.WhyDutongui .card__Why__title {
  color: #0762d9;
  margin: 0px;
  font-family: "Palanquin Dark", sans-serif;
}
.WhyDutongui .card__Why__desc {
  color: #696C7B;
}

.Today {
  background-color: transparent;
  background-image: linear-gradient(90deg, #6EC1E4 0%, #243A9F 100%);
  text-align: center;
  padding: 50px 15px;
}
.Today__Title {
  font-family: "Montserrat", Sans-serif;
}
.Today__Title h2 {
  color: white;
}
.Today__SubTitle {
  font-family: "Montserrat", Sans-serif;
}
.Today__SubTitle h3 {
  color: white;
}
.Today__Link a {
  background-color: #F8DF00;
  padding: 10px;
  border-radius: 50px 0px 50px 50px;
}

footer {
  background-color: #080b28;
}

/*# sourceMappingURL=general.css.map */
